html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    position: relative; /* 使body成为相对定位的父容器 */
}

.video-background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0; /* 确保视频覆盖整个视口的宽度 */
    bottom: 0; /* 确保视频覆盖整个视口的高度 */
    z-index: -1;
    object-fit: cover;
}

.box {
    background-color: rgba(234, 234, 234,0.5);
    margin: 0 auto;
    width: 1000px;
    height: 1300px;
    position: relative;
    z-index: 1;
}

.left-box {
    background-color: rgba(234, 234, 234,0.5);
    width: 300px;
    height: 1300px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}

.me-img {
    text-align: center;
    margin-left: 50px;
    width: 200px;
    height: 400px;
    position: relative;
    top: 60px;
}

.me-img img {
    display: block;
    margin: 0 auto;
    width: 70%;
    height: auto;
}

.basic-information {
    margin-left: 30px;
}

.honor-award {
    margin-left: 30px;
    width: 240px;
}

.honor-award table {
    margin-left: 30px;
}

.right-box {
    background-color: rgba(255, 255, 255, 0.5);
    width: 700px;
    height: 1300px;
    position: absolute;
    right: 0;
    top: 0;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
    font-family: "Times New Roman", Times, serif;
    z-index: 1;
}

.self-assessment {
    padding-top: 120px;
    margin-left: 10px;
    margin-right: 20px;
}

.self-assessment p {
    font-size: 20px;
    margin-left: 30px;
}

.professional-skills {
    margin-left: 10px;
}

.professional-skills ol {
    font-size: 20px;
}
